# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# gradle/build files
build/
lib/
.gradle

# IntelliJ IDEA files
.idea/
out/
*.ipr
*.iws
*.iml

# Eclipse files (and some general ones also used by Eclipse)
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# NetBeans files
nbproject/private/
nbbuild/
.nb-gradle/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# OSX auto files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows auto files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux auto files
*~

